html {
  --p-color: #2b3e4a;
  --s-color: white;
  --success: #1aeec8;
  --fail: #fe2b64;
  --font: 'Raleway', sans-serif;
  font-family: var(--font);
  font-weight: 200;
}

body {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#00ceba),
    to(#b07ed0)
  );
  background-image: linear-gradient(to bottom right, #00ceba, #b07ed0);
  background-attachment: fixed;
}

#body-wrapper {
  position: relative;

  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/* ********************** TOP HERO SECTION - TITLE - TIMER - REFRESH ************************* */

h1 {
  margin: 75px 0 50px;

  text-align: center;
  letter-spacing: 0.1px;

  color: var(--s-color);

  font-size: 4rem;
  font-weight: 500;
}

.letter-flip {
  display: inline-block;

  -webkit-animation: letterflip 6s infinite;
  animation: letterflip 6s infinite;

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.icons-container {
  text-align: center;
  display: none;
}

ul {
  display: inline-block;

  width: 100%;

  list-style-type: none;

  color: var(--s-color);

  font-size: 1.2rem;
}

li {
  display: inline-block;

  width: 100px;
}

#refresh {
  cursor: pointer;
}

.icons-container p {
  padding: 9px 0;
  font-size: 0.9rem;
  font-weight: 200;
}

/* ********************** KEYFRAMES AND ANIMATIONS ************************* */

@-webkit-keyframes letterflip {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  70% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  80% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);

    color: var(--p-color);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes letterflip {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  70% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  80% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);

    color: var(--p-color);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

#btnNas {
  padding: 15px;
  border-radius: 18px;
  width: 90px;
  border: 1px solid rgb(136, 52, 192);
  letter-spacing: 3px;
  font-weight: 500;
  color: rgb(67, 67, 190);
  position: absolute;
  left: 40%;
}

#btnNas:hover {
  background-color: rgb(159, 127, 180);
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  color: white;
  transition: 2s;
}
.win,
.gagne,
.perdu {
  display: none;
  text-align: center;
}
